:root{
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-white: white;
    --main-black: black;
  }
  body{
    margin: 0;
    padding: 0;
  }
  #navbar{
    background: var(--main-red);
    width: 100vw;
    position: fixed;
    top: 0;
  }
  nav > ol{
    display: flex;
    justify-content: flex-end;
    margin: 0; 
    list-style-type: none; 
  }
  
    
    nav a{
      padding: 1.5rem;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
  }
    
  nav a:hover{
    background: gray;
  }
  #welcome-section{
    background-color: var(--main-black);
    width: 100vw;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }
  .first-p{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--main-white);
    margin: 0 0 10px 0;
    text-align: center;
  }
  .sec-p{
    font-size: 30px;
    text-align: center;
    color: var(--main-red);
     margin: 0;
  }
  .myself {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0 25px 0;
  }
  .myself span{
    font-weight: bold;
  }
  .myself img{
    border-radius: 50%;
    box-shadow: 20px 20px 20px black;
    width: 200px;
    height: 200px;
    transition: width,height 3s,3s ease-in-out;
  }
  #ajmir-image{
    display: flex;
    justify-content: center;
    align-items: center;


  }
  #ajmir-image img:hover{
    height: 400px;
    width: 400px;
    transform: rotate(360deg);
  }
  .aboutme{
    width: 500px;
  
  }
  .aboutajmir{
    font-size: 50px;
    margin: 0 0 0 20px;
    text-align: center;
    padding: 0 20px 0 0;
  }
  .aboutajmir1{
    font-size: 20px;
  }
  .myself ol{
    list-style-type: none;
    font-size: 30px;
    padding: 0;
  }
  #projects{
    background: var(--main-blue);
    padding: 50px 20px;
  }
  .project-tile{
    margin: 0 auto 0 auto;
   border-bottom: 2px solid white;
   max-width: 640px;
   font-size: 50px;
   text-align: center;
   padding-bottom: 5px;
   color: var(--main-white);
  }
  .picture{
    display: grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr  1fr 1fr;
      row-gap: 50px;
      column-gap: 50px;
      width: 70vw;
      margin: 50px auto 50px auto;
  }
  .picture img{
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    min-width: 400px;
  }
  .picture p{
    
    font-size: 25px;
    text-align: center;
    color: var(--main-white);
    background: #ff7f50;
    margin: 0;
    padding: 20px;
  }
  .code {
    display: none;
  }
  
  .project:hover .code {
    display: inline;
  }
  .picture a{
    text-decoration: none;
  }
  #submit{
    width: 100%;
    text-align: center;
    background: var(--main-blue);
    padding: 0 0 70px 0;
    font-size: 30px;
    /* margin-bottom: */
  }
  #submit a{
    text-decoration: none;
    /* border:1px solid black */
    background: var(--main-black);
    color: var(--main-white);
    padding: 10px;
    width: 200px;
    display: inline-block;
   border: 5px solid #1e213a;
   border-radius: 25px;
   font-size: 20px;
   transition: font-size 0.5s ease-out ;
  
  }
  #submit a:hover{
    /* background: var(--main-red); */
    background: blue;
    box-shadow: 
    /* inset 0 5px 25px #00000080, */
    0 0 20px #2196f3,
    0 0 40px #2196f3,
    0 0 80px #2196f3; 
    font-size: 25px;
  }
  #contact{
     background-color: var(--main-black);
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
  }
  #contact p{
    color: white;
  }
  #contact .s{
    font-size: 70px;
    margin: 0;
    text-align: center;
    font-weight: bold;
  }
  #contact .t{
    font-size: 20px;
    text-align: center;
  }
  #online{
    display: flex;
    background: var(--main-black);
    justify-content: center;
    padding: 0 0 90px 0 ;
  }
  #online a{
    text-decoration: none;
    margin: 20px;
    color: var(--main-white);
    padding: 10px;
    font-size: 25px;
    
  }
  #online a:hover{
  background: var(--main-red);
  }
  #last div{
    display: flex;
    justify-content: space-evenly;
    background: var(--main-black);
    border-top: 5px solid var(--main-red) ;
    padding: 10px 0 20px 0; 
  }
  #last p{
    color: var(--main-white);
    font-size: 20px;
  }
  #last a{
    color: var(--main-white);
    text-decoration: none;
  }
  @media (max-width: 1024px) {
    .picture {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* For small screens */
  @media (max-width: 767px) {
    .picture {
      grid-template-columns: 1fr;
    }
    .myself{
      display: block;
    }
  }
  #navbar{
    position: fixed;
    top: 0;
  }